<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="./styles/login.css">
</head>
<body>
    <div>
        <form action="/signin" method="post">
            <label>Username</label>
            <input name="username" type="text"><br><br>
            <label>Password</label>
            <input name="password" type="password"><br><br>
            <input type="submit" value="Signin">
        </form>
    </div>
</body>
</html>